{{ define "main" }}

{{- partial "protocol-template.html" . -}}

<section class="global-page-header darker">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>{{ .Title }}</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="category" data-category="{{ .Params.category }}" class="single-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ .Content }}
                <ul id="protocols">
                    <!-- ajax -->
                </ul>

                <!-- Collaboration Request Link -->
                <div id="collaborate-link">
                    Click here to
                    <a href="/request-collaboration" class="priority">
                        request a collaboration</a>.
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>

<script src="../js/jquery.validate.min.js"></script>
<script src="../js/airtable.js"></script>
<script src="../js/hot-date.js"></script>
<script src="../js/protocologist.js"></script>
<script src="../js/safe-html-template-tag.js"></script>
<script src="../js/protocol-list.js"></script>
<script src="../js/category.js"></script>

{{ end }}
