{{ define "main" }}

<section id="protocol" class="single-post">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="protocol post-content">


          <!-- Title -->
          <div class="row">
            <div class="col-md-12">
              <h2 id='title'>
              </h2>
            </div>
          </div>


          <!-- PI Name & Institution -->
          <div class="row">
            <div class="col-sm-2">
              <span class="field-name">Principal Investigator(s):</span>
            </div>

            <div class="col-sm-10">
              <span id="pi-info">
                <span class="spinner-border"></span>
              </span>
            </div>
          </div>


          <!-- Location -->
          <div class="row">
            <div class="col-sm-2">
              <span class="field-name">Location:</span>
            </div>

            <div class="col-sm-10">
              <span id="location">
                <span class="spinner-border"></span>
              </span>
            </div>
          </div>


          <!-- NCT ID -->
          <div class="row">
            <div class="col-sm-2">
              <span class="field-name">NCT ID:</span>
            </div>

            <div class="col-sm-10">
              <span id="nct-id">
                <span class="spinner-border"></span>
              </span>
            </div>
          </div>


          <!-- Study Type -->
          <div class="row">
            <div class="col-sm-2">
              <span class="field-name">
                Study Type:
              </span>
            </div>
            <div class="col-sm-10">
              <span id="study-type">
                <span class="spinner-border"></span>
              </span>
            </div>
          </div>


          <!-- Status -->
          <div class="row">
            <div class="col-sm-2">
              <span class="field-name">
                Status:
              </span>
            </div>
            <div class="col-sm-10">
              <span class="font-weight-bold" id="status">
                <span class="spinner-border"></span>
              </span>
            </div>
          </div>


          <!-- Eligibility Criteria -->
          <div class="row">
            <div class="col-sm-2">
              <span class="field-name">
                Elligibility Criteria:
              </span>
            </div>
            <div class="col-sm-10">
              <span class="field-content ellipsis" id="eligibility-criteria">
                <span class="spinner-border"></span>
              </span>
            </div>
          </div>


          <!-- Intervention Arms -->
          <div class="row">
            <div class="col-sm-2">
              <span class="field-name">
                Intervention Arms:
              </span>
            </div>
            <div class="col-sm-10">
              <span class="field-content ellipsis" id="intervention-arms">
                <span class="spinner-border"></span>
              </span>
            </div>
          </div>


          <!-- Outcomes -->
          <div class="row">
            <div class="col-sm-2">
              <span class="field-name">
                Outcomes:
              </span>
            </div>
            <div class="col-sm-10">
              <span class="field-content" id="outcomes">
                <span class="spinner-border"> </span>
              </span>
            </div>
          </div>

          <!-- Attachment -->
          <div class="row">
            <div class="col-sm-2">
              <span class="field-name">
                Full Protocol Text:
              </span>
            </div>
            <div class="col-sm-10">
              <span id="attachment">
                <span class="spinner-border"></span>
              </span>
            </div>
          </div>

          <!-- Patient Consent Forms -->
          <div class="row">
            <div class="col-sm-2">
              <span class="field-name">
                Patient Consent Forms:
              </span>
            </div>
            <div class="col-sm-10">
              <span id="patientConsentForms">
                <span class="spinner-border"></span>
              </span>
            </div>
          </div>

          <!-- Case Report Form -->
          <div class="row">
            <div class="col-sm-2">
              <span class="field-name">
                Case Report Form:
              </span>
            </div>
            <div class="col-sm-10">
              <span id="caseReportForm">
                <span class="spinner-border"></span>
              </span>
            </div>
          </div>

          <!-- Data Dictionary -->
          <div class="row">
            <div class="col-sm-2">
              <span class="field-name">
                Data Dictionary:
              </span>
            </div>
            <div class="col-sm-10">
              <span id="dataDictionary">
                <span class="spinner-border"></span>
              </span>
            </div>
          </div>

          <!-- Created At -->
          <div class="row">
            <div class="col-sm-2">
              <span class="field-name">
                Listed on:
              </span>
            </div>
            <div class="col-sm-10">
              <span id="__created_at__">
                <span class="spinner-border"></span>
              </span>
            </div>
          </div>

          <!-- Collaborating trials -->
          <div id="collaborating-trials-group" class="row">
            <div class="col-sm-2">
              <span class="field-name">
                Collaborating trials
              </span>
            </div>
            <div id="collaborating-trials" class="col-sm-10">
            </div>
          </div>

          <br/>

          <!-- Collaboration Request Link -->
          <div class="row" id="collaboration-request">
            <div class="col-sm-12">
              <a
                 class="btn btn-info"
                 role="button"
                 href="/request-collaboration"
                 id="collaboration-request-link"
              >
                Request to collaborate on this protocol
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<script src="../js/airtable.js"></script>
<script src="../js/request.js"></script>
<script src="../js/hot-date.js"></script>
<script src="../js/safe-html-template-tag.js"></script>
<script src="../js/protocol.js"></script>

{{ end }}
