{{ define "main" }}

{{- partial "protocol-template.html" . -}}

<section id="protocols-section" class="single-post">
  <div class="container centered">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="post-content">
          <!-- Filter/Search -->
          <div id="fuzzy-search" class="input-group mb-1">
            <input
              id="query"
              type="text"
              class="form-control"
              placeholder="Search protocols ..."
              aria-describedby="basic-addon2"
              >
              <div class="input-group-append">
                <button id="search-protocols" class="btn btn-outline-secondary" type="button">
                  <span
                    id="search-protocols-spinner"
                    class="spinner-left spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true" >
                  </span>
                  <span id="search-protocols-text">Loading</span>
                </button>
              </div>
          </div>
          <div class="input-group mb-3">
            <small>You may be interested in protocols related to <a href="/hydroxychloroquine">hydroxychloroquine</a> or <a href="/convalescent-plasma">convalescent plasma</a>.</small>
          </div>

          <div id="protocol-filter" style="display: none">
            <div class="filter-group">
              <label class="filter-group-label">Outcomes</label>
              <ul class="list-group list-group-flush">
                <li>
                  <div class="custom-control custom-checkbox">
                    <input
                      name="Standard Outcomes"
                      id="outcome-pres-diag"
                      value="presumed COVID-19 diagnosis"
                      type="checkbox"
                      class="custom-control-input"
                      checked>
                    <label class="custom-control-label" for="outcome-pres-diag">
                      presumed COVID-19 diagnosis
                    </label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input
                      name="Standard Outcomes"
                      id="outcome-hosp"
                      value="hospitalization"
                      type="checkbox"
                      class="custom-control-input"
                      checked>
                    <label class="custom-control-label" for="outcome-hosp">
                      hospitalization
                    </label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input
                      name="Standard Outcomes"
                      id="outcome-icu-adm"
                      value="ICU admission"
                      type="checkbox"
                      class="custom-control-input"
                      checked>
                    <label class="custom-control-label" for="outcome-icu-adm">
                      ICU admission
                    </label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input
                      name="Standard Outcomes"
                      id="outcome-supp-oxy"
                      value="supplemental oxygen"
                      type="checkbox"
                      class="custom-control-input"
                      checked>
                    <label class="custom-control-label" for="outcome-supp-oxy">
                      supplemental oxygen
                    </label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input
                      name="Standard Outcomes"
                      id="outcome-mech-vent"
                      value="mechanical ventilation"
                      type="checkbox"
                      class="custom-control-input"
                      checked>
                    <label class="custom-control-label" for="outcome-mech-vent">
                      mechanical ventilation
                    </label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input
                      name="Standard Outcomes"
                      id="outcome-death"
                      value="death"
                      type="checkbox"
                      class="custom-control-input"
                      checked>
                    <label class="custom-control-label" for="outcome-death">
                      death
                    </label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input
                      name="Standard Outcomes"
                      id="outcome-other"
                      value="other"
                      type="checkbox"
                      class="custom-control-input"
                      checked>
                    <label class="custom-control-label" for="outcome-other">
                      other
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="filter-group">
              <label class="filter-group-label">Status</label>
              <ul class="list-group list-group-flush">
                <li>
                  <div class="custom-control custom-checkbox">
                    <input
                      name="Status"
                      value="not yet enrolling"
                      type="checkbox"
                      class="custom-control-input"
                      id="status-not-yet-enrolling"
                      checked>
                    <label class="custom-control-label" for="status-not-yet-enrolling">
                      not yet enrolling
                    </label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input
                      name="Status"
                      value="in progress"
                      type="checkbox"
                      class="custom-control-input"
                      id="status-in-progress"
                      checked>
                    <label for="status-in-progress" class="custom-control-label">
                      in progress
                    </label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input
                      name="Status"
                      value="completed"
                      type="checkbox"
                      class="custom-control-input"
                      id="status-completed"
                      checked>
                    <label class="custom-control-label" for="status-completed">
                      completed
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="filter-group">
              <button id="filter-protocols" class="btn btn-outline-secondary">Apply Filter</button>
            </div>

          </div>


          <!-- Matching Protocols -->
          <div id="status-bar" class="status-bar">
            <span id="toggle-filter">
              <i class="fa fa-filter"></i>
              Filter
            </span>
            <span id="protocols-count"></span>
          </div>

          <ul id="protocols">
            <!-- ajax -->
          </ul>


          <!-- Collaboration Request Link -->
          <div id="collaborate-link">
            Click here to
            <a href="/request-collaboration" class="priority">
              request a collaboration</a>.
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>

<script src="../js/jquery.validate.min.js"></script>
<script src="../js/airtable.js"></script>
<script src="../js/hot-date.js"></script>
<script src="../js/protocologist.js"></script>
<script src="../js/safe-html-template-tag.js"></script>
<script src="../js/protocol-list.js"></script>
<script src="../js/protocols.js"></script>

{{ end }}
