{{ define "main" }}

<section class="global-page-header">
  <div class="container"> <div class="row"> <div class="col-md-12"> <div class="block">
          <h2>{{ .Title }}</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="single-post">
  <div class="container centered">
    <div class="row d-flex justify-content-center">
      <div class="col-md-9">
        <div class="post-content">
          <form id="collaboration" novalidate="novalidate">

            <div id="airtable-endpoint" style="display: none">{{ .Site.Params.apiurl }}</div>

            <!-- Your Name -->
            <div class="form-group">
              <label for="collaborator-name" class="required">Your Name</label>
              <input
                type="text"
                class="form-control"
                id="collaborator-name"
                name="Collaborator Name"
                minlength="3"
                required>
            </div>

            <!-- Your Institution -->
            <div class="form-group">
              <label for="collaborator-institution" class="required">Your Institution</label>
              <input
                type="text"
                class="form-control"
                id="collaborator-institution"
                name="Collaborator Institution"
                minlength="5"
                required>
            </div>

            <!-- Contact Email -->
            <div class="form-group">
              <label for="contact-email" class="required">Contact Email</label>
              <input
                type="email"
                class="form-control"
                id="contact-email"
                name="Collaborator Email"
                required>
            </div>

            <!-- Collaboration type -->
            <label class="required col-form-label">What type of collaboration are you interested in?</label>
            <div class="form-group form-inline required">
              <div class="form-check mr-4">
                <input
                  class="form-check-input"
                  type="radio"
                  name="Collaboration Type"
                  id="specific-trial"
                  value="specific trial">
                <label class="form-check-label pl-1" for="specific-trial">
                  Specific trial
                </label>
              </div>

              <div class="form-check mr-4">
                <input
                  class="form-check-input"
                  type="radio"
                  name="Collaboration Type"
                  id="type-of-trial"
                  value="type of trial">
                <label class="form-check-label pl-1" for="type-of-trial">
                  Type of trial
                </label>
              </div>

              <div class="form-check mr-4">
                <input
                    class="form-check-input"
                    type="radio"
                    name="Collaboration Type"
                    id="general-interest"
                    value="general interest">
                <label class="form-check-label pl-1" for="general-interest">
                  General interest
                </label>
              </div>
            </div>

            <!-- Protocol to Collaborate On -->
            <div class="form-group" id="protocol-title-group">

              <label for="protocol-title" class="required">
                Protocol Title
              </label>

              <textarea
                class="form-control"
                id="protocol-title"
                rows="3"
                name="Protocol Title"
                required>
              </textarea>

              <input
                type="text"
                class="form-control"
                id="protocol-id"
                name="Protocol ID"
                style="display: none"
              >

              <small class="form-text text-muted">
                <a class="important-link" href="/protocols" target="_blank">Search protocols</a>
              </small>
            </div>

            <!-- Trial interest -->
            <div class="form-group" id="trial-interest-group">

              <label for="protocol-title" class="required">
                What type of trials are you interested in?
              </label>

              <textarea
                class="form-control"
                id="trial-interest"
                rows="3"
                name="Trial Interest Details"
                required>
              </textarea>
            </div>

            <!-- Collaborator's Research Status -->
            <label class="required col-form-label">In what stage is your own research?</label>
            <div class="form-group form-inline required">
              <div class="form-check mr-4">
                <input
                  class="form-check-input"
                  type="radio"
                  name="Collaborator Research Status"
                  id="status-planning"
                  value="planning">
                <label class="form-check-label pl-1" for="status-planning">
                  Planning
                </label>
              </div>

              <div class="form-check mr-4">
                <input
                  class="form-check-input"
                  type="radio"
                  name="Collaborator Research Status"
                  id="status-ongoing"
                  value="ongoing">
                <label class="form-check-label pl-1" for="status-ongoing">
                  Ongoing
                </label>
              </div>

              <div class="form-check mr-4">
                <input
                  class="form-check-input"
                  type="radio"
                  name="Collaborator Research Status"
                  id="status-completed"
                  value="completed">
                <label class="form-check-label pl-1" for="status-completed">
                  Completed
                </label>
              </div>
            </div>


            <!-- Notes -->
            <div class="form-group">
              <label for="notes" class="optional">Notes</label>
              <textarea
                class="form-control"
                id="notes"
                rows="5"
                name="Notes">
              </textarea>
            </div>


            <!-- Submit -->
            <div class="form-group">
              <button type="submit" class="btn btn-primary text-centered">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="../js/airtable.js"></script>
<script src="../js/request.js"></script>

{{ $script := resources.Get "js/request-collaboration.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $script.RelPermalink }}"></script>

{{ $script := resources.Get "js/jquery.validate.min.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $script.RelPermalink }}"></script>

{{ end }}
