{{ define "main" }}

<section class="global-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>{{ .Title }}</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="single-post">
  <div class="container centered">
    <div class="row d-flex justify-content-center">
      <div class="col-md-9">
        <div class="post-content">
          <form id="protocol" novalidate="novalidate">

            <!-- NCT ID -->
            <div class="form-group">
              <label for="nct-id" class="optional">NCT ID</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  id="nct-id"
                  name="NCT ID"
                  aria-describedby='nct-id-help'
                  placeholder='NCT########'>
                <span class="input-group-btn">
                  <button type="submit" id='import' class="btn btn-primary text-centered" disabled>
                    Import
                  </button>
                </span>
              </div>
              <small id="nct-id-help" class="form-text text-muted">
                If you have an NCT ID, we can import your data from <a href="https://clinicaltrials.gov/" target="_blank">ClinicalTrials.gov</a> to pre-populate this form.
              </small>
            </div>

            <br/>


            <!-- Title -->
            <div class="form-group">
              <label for="title" class="required">Study Title</label>
              <textarea
                class="form-control"
                id="title"
                name="Title"
                rows="5"
                minlength="10"
                required>
              </textarea>
            </div>


            <!-- PI Name -->
            <div class="form-group">
              <label for="pi-name" class="required">PI Name</label>
              <input
                type="text"
                class="form-control"
                id="pi-name"
                name="PI Name"
                minlength="3"
                required>
            </div>


            <!-- PI Institution -->
            <div class="form-group">
              <label for="pi-institution" class="required">PI Institution</label>
              <input
                type="text"
                class="form-control"
                id="pi-institution"
                name="PI Institution"
                minlength="5"
                required>
            </div>


            <!-- Co-PI Name -->
            <div class="form-group">
              <label for="co-pi-name" class="optional">Co-PI Name</label>
              <input
                type="text"
                class="form-control"
                id="co-pi-name"
                name="Co-PI Name"
                minlength="3">
            </div>

            <!-- Co-PI Institution -->
            <div class="form-group">
              <label for="co-pi-institution" class="optional">Co-PI Institution</label>
              <input
                type="text"
                class="form-control"
                id="co-pi-institution"
                name="Co-PI Institution"
                minlength="5">
            </div>


            <!-- Contact Email -->
            <div class="form-group">
              <label for="contact-email" class="required">Contact Email</label>
              <input
                type="email"
                class="form-control"
                id="contact-email"
                name="Contact Email"
                required>
            </div>


            <!-- City -->
            <div class="form-group">
              <label for="city" class="required">City</label>
              <input
                type="text"
                class="form-control"
                id="city"
                name="City"
                required>
            </div>


            <!-- State/Territory/Province -->
            <div class="form-group">
              <label for="state" class="optional">State/Territory</label>
              <select class="form-control" id="state" name="State">
                {{ partial "dropdowns/states.html" . }}
              </select>
            </div>


            <!-- Country -->
            <div class="form-group">
              <label for="country" class="required">Country</label>
              <select class="form-control" id="country" name="Country" required>
                {{ partial "dropdowns/countries.html" . }}
              </select>
            </div>


            <!-- Eligibility -->
            <div class="form-group">
              <label for="eligibility" class="required">Eligibility Criteria</label>
              <textarea
                class="form-control"
                id="eligibility"
                name="Eligibility Criteria"
                rows="5"
                minlength="10"
                required>
              </textarea>
            </div>


            <!-- Intervention Arms -->
            <div class="form-group">
              <label for="intervention-arms" class="required">Intervention Arms</label>
              <textarea
                class="form-control"
                id="intervention-arms"
                name="Intervention Arms"
                rows="5"
                minlength="10"
                required>
              </textarea>
            </div>


            <!-- Standard Outcomes -->
            <div class="form-group">
              <label for="standard-outcomes" class="required">Standard Outcomes</label>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="custom-control custom-checkbox">
                    <input name="Standard Outcomes" value="presumed COVID-19 diagnosis" type="checkbox" class="custom-control-input" id="pres-diag">
                    <label class="custom-control-label" for="pres-diag">presumed COVID-19 diagnosis</label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="custom-control custom-checkbox">
                    <input name="Standard Outcomes" value="hospitalization" type="checkbox" class="custom-control-input" id="hosp">
                    <label class="custom-control-label" for="hosp">hospitalization</label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="custom-control custom-checkbox">
                    <input name="Standard Outcomes" value="ICU admission" type="checkbox" class="custom-control-input" id="icu-adm">
                    <label class="custom-control-label" for="icu-adm">ICU admission</label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="custom-control custom-checkbox">
                    <input name="Standard Outcomes" value="supplemental oxygen" type="checkbox" class="custom-control-input" id="supp-oxy">
                    <label class="custom-control-label" for="supp-oxy">supplemental oxygen</label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="custom-control custom-checkbox">
                    <input name="Standard Outcomes" value="mechanical ventilation" type="checkbox" class="custom-control-input" id="mech-vent">

                    <label class="custom-control-label" for="mech-vent">mechanical ventilation</label>
                  </div>
                  <li class="list-group-item">
                    <div class="custom-control custom-checkbox">
                      <input name="Standard Outcomes" value="death" type="checkbox" class="custom-control-input" id="death">
                      <label class="custom-control-label" for="death">death</label>
                    </div>
                  </li>

                  <li class="list-group-item">
                    <div class="custom-control custom-checkbox">
                      <input name="Standard Outcomes" value="other" type="checkbox" class="custom-control-input" id="other">
                      <label class="custom-control-label" for="other">(none of the above)</label>
                    </div>
                  </li>
              </ul>
            </div>


            <!-- Custom Outcomes -->
            <div class="form-group">
              <label for="custom-outcomes" class="optional">Custom Outcomes</label>
              <textarea
                class="form-control"
                id="custom-outcomes"
                name="Custom Outcomes"
                rows="5"
                minlength="10"
                required>
              </textarea>
            </div>


            <!-- Status -->
            <label for="status" class="col-form-label required">Status</label>
            <div class="form-group form-inline required">
              <div class="form-check mr-4">
                <input
                  class="form-check-input"
                  type="radio"
                  name="Status"
                  id="status-not-yet-enrolling"
                  value="not yet enrolling"
                  checked>
                <label class="form-check-label pl-1" for="status-not-yet-enrolling">
                  Not Yet Enrolling
                </label>
              </div>

              <div class="form-check mr-4">
                <input
                  class="form-check-input"
                  type="radio"
                  name="Status"
                  id="status-in-progress"
                  value="in progress">
                <label class="form-check-label pl-1" for="status-completed">
                  In Progress
                </label>
              </div>

              <div class="form-check disabled">
                <input
                  class="form-check-input"
                  type="radio"
                  name="Status"
                  id="status-completed"
                  value="completed">
                <label class="form-check-label pl-1" for="status-completed">
                  Completed
                </label>
              </div>
            </div>


            <!-- Study Type -->
            <label for="study-type" class="col-form-label required">Study Type</label>
            <div class="form-group form-inline required">
              <div class="form-check mr-4">
                <input
                  class="form-check-input"
                  type="radio"
                  name="Study Type"
                  id="study-type-randomized"
                  value="randomized"
                  required>
                <label class="form-check-label pl-1" for="study-type-randomized">
                  Randomized
                </label>
              </div>

              <div class="form-check mr-4">
                <input
                  class="form-check-input"
                  type="radio"
                  name="Study Type"
                  id="study-type-observational"
                  value="observational"
                  required>
                <label class="form-check-label pl-1" for="study-type-observational">
                  Single Arm / Observational
                </label>
              </div>
            </div>


            <!-- Notes -->
            <div class="form-group">
              <label for="notes" class="optional">General Notes</label>
              <textarea
                class="form-control"
                id="notes"
                rows="5"
                name="Notes">
              </textarea>
            </div>


            <!-- Attachment -->
            <div class="form-group">
              <label for="attachment" class="optional">Full Text Protocol</label>
              <div>
                <input type="file" id="attachment" name="Attachment">
              </div>
              <div>
                <input type="checkbox" id="showAttachment" name="Show Attachment" value="true" checked>
                <label for="showAttachment">
                  <small class="form-text text-muted">
                    Allow anyone to download the detailed protocol without requesting permission.
                  </small>
                </label>
              </div>
            </div>

            <!-- Patient level data -->
            <div>
              <label class="col-form-label required">
                Are you interested in sharing patient level data for pooled safety and/or efficacy analyses?
              </label>
              <div class="form-group form-inline required">
                <div class="form-check mr-4">
                  <input type="radio" id="sharePatientDataYes" name="Share Patient Data" value="true" required>
                  <label class="form-check-label pl-1" for="sharePatientDataYes">
                    Yes
                  </label>
                </div>
                <div class="form-check mr-4">
                  <input type="radio" id="sharePatientDataNo" name="Share Patient Data" value="false" required>
                  <label class="form-check-label pl-1" for="sharePatientDataNo">
                    No
                  </label>
                </div>
              </div>
            </div>

            <div id="sharedDataForms">
              <label><small>If there are any consent forms, case report forms, or data dictionaries associated
                with the study, please add them below.</small>
              </label>

              <!-- Patient Consent Forms -->
              <div class="form-group">
                <label for="patientConsentForms" class="optional">Patient Consent Forms</label>
                <div>
                  <input type="file" id="patientConsentForms" name="Patient Consent Forms">
                </div>
                <div>
                  <input type="checkbox" id="showPatientConsentForms" name="Show Patient Consent Forms" value="true" checked>
                  <label for="showPatientConsentForms">
                    <small class="form-text text-muted">
                      Allow anyone to download patient consent forms without requesting permission.
                    </small>
                  </label>
                </div>
              </div>

              <!-- Case Report Form -->
              <div class="form-group">
                <label for="caseReportForm" class="optional">Case Report Form</label>
                <div>
                  <input type="file" id="caseReportForm" name="Case Report Form">
                </div>
                <div>
                  <input type="checkbox" id="showCaseReportForm" name="Show Case Report Form" value="true" checked>
                  <label for="showCaseReportForm">
                    <small class="form-text text-muted">
                      Allow anyone to download the case report form without requesting permission.
                    </small>
                  </label>
                </div>
              </div>

              <!-- Data Dictionary -->
              <div class="form-group">
                <label for="dataDictionary" class="optional">Data Dictionary</label>
                <div>
                  <input type="file" id="dataDictionary" name="Data Dictionary">
                </div>
                <div>
                  <input type="checkbox" id="showDataDictionary" name="Show Data Dictionary" value="true" checked>
                  <label for="showDataDictionary">
                    <small class="form-text text-muted">
                      Allow anyone to download the data dictionary without requesting permission.
                    </small>
                  </label>
                </div>
              </div>
            </div>

            <!-- Submit -->
            <div class="form-group">
              <button type="submit" id="submit-protocol" class="btn btn-primary text-centered">
                <span
                  id="submit-protocol-spinner"
                  class="spinner-left spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                  style="display: none">
                </span>
                <span id="submit-protocol-text">Submit</span>
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="../js/jquery.validate.min.js"></script>
<script src="../js/clinicaltrials.js"></script>
<script src="../js/airtable.js"></script>
<script src="../js/request.js"></script>
<script src="../js/submit-protocol.js"></script>

{{ end }}
