<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}

         <script>
         // Add scrollspy to <body>
         $('body').scrollspy({target: ".navbar", offset: 50});

         // Add smooth scrolling on all links inside the navbar
         $("#navbar a").on('click', function(event) {

             // Make sure this.hash has a value before overriding default behavior
             if (this.hash !== "") {

                 // Prevent default anchor click behavior
                 event.preventDefault();

                 // Store hash
                 var hash = this.hash;

                 // Using jQuery's animate() method to add smooth page scroll
                 // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                 $('html, body').animate({
                     scrollTop: $(hash).offset().top
                 }, 300, function(){

                     // Add hash (#) to URL when done scrolling (default click behavior)
                     window.location.hash = hash;
                 });

         }}); 
        </script>

    </body>
</html>
