@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);
@import url(https://fonts.googleapis.com/css?family=Glegoo);

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 26px;
}

p, footer.blockquote-footer {
  font-family: "Roboto", sans-serif;
  line-height: 26px;
  font-size: 18px;
  font-weight: 300;
}

body {
  background: #ffffff;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

a {
    color: #002f86;
}

a:hover {
  text-decoration: none;
  color: #0056b3;
}

a.subtle {
  color: #353842;
}

a.subtle:hover {
  color: #0056b3;
}

a.priority, a.priority:hover {
  text-decoration: underline;
}

a i {
  margin: 0 5px;
}

.title {
  font-size: 30px;
  line-height: 1.1;
  font-weight: 300;
  color: #383838;
  text-transform: uppercase;
  margin-bottom: 20px;
}

form {
  margin: 0 auto;
  width: 80%;
}

form .error {
  background-color: white;
}

form .form-control.error {
  border-color: #d8000c;
}

form .btn-primary:disabled {
  background-color: #bbb;
  border-color: #bbb;
}

form label.required:after {
  content: "required";
  color: #959595;
  padding: auto;
  margin-left: 5px;
  font-size: 13px;
}

form label.optional:after {
  content: "optional";
  color: #959595;
  padding: auto;
  margin-left: 5px;
  font-size: 13px;
}

form .form-group {
  margin-bottom: 30px;
}

form label.error {
  padding: 0;
  margin-top: 10px;
}


form label#nct-id-import-success {
  display: flex;
  justify-content: space-between;
  border-width: 0px;
  background-color: #c7e8b9;
  margin-top: 15px;
  padding: 10px;
  font-size: 15px;
  color: #222;
  border-radius: .25rem;
}

form label#nct-id-import-success a {
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
}

form span#nct-id-import-success-icon { /* should get color from .bg-success */
  color: #6cb670;
  margin: auto;
  padding: 5px;
  padding-right:10px;
  font-size: 2em;
}

form #nct-id-import-success a {
  color: #5D5D5D;
}

form #nct-id-import-success a:hover { /* should get color from .text-succes */
  color: #3b663d;
}

form .form-text {
  margin-top: 0.5rem;
}

#protocol {
  font-weight: 300;
}

#protocol .field-name {
  font-weight: 400;
}

#protocol .field-content {
  white-space: pre-line;
}

#protocol #status {
  text-transform: uppercase;
}

.spinner-left {
  margin: 2px;
  margin-right: 5px;
}

.error { /* should get colors from  .text-danger and .bg-danger */
  padding: 10px;
  color: #D8000C;
  border-radius: 2px;
  font-size: 14px;
  background-color: #FFBABA;
}

.success {/* should get bg color from bg-success */
  background-color: #6cb670;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  padding: 10px;
}

/* overriding Bootstrap input group options to add spacing */

.input-group-btn {
  padding-left: 12px;
}

.input-group .form-control:not(:last-child) {
  border-bottom-right-radius: .25rem;
  border-top-right-radius: .25rem;
}

/* overriding Bootstrap list item horizontal rules */
.list-group-flush .list-group-item {
  border: 0;
  padding: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 15px;
}

.global-page-header {
  background-attachment: fixed;
  background-size: cover;
  padding: 120px 0 25px 0;
  position: relative;
  background: #707070;
  color: #fff;
}

.global-page-header h2 {
  font-size: 42px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.global-page-header.darker h2 {
  color: #000;
}

.global-page-header .block {
  position: relative;
  z-index: 9;
  text-align: center;
}

/*=== MEDIA QUERY ===*/
.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  color: #fff;
  transition: all 0.2s ease-out 0s;
  padding: 6px 0;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #dedede;
  z-index: 10;
}

.top-bar.animated-header {
  padding: 11px 0;
  background: #fff;
  box-shadow: none;
}

.navbar {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0;
}

.navbar.bg-light {
  background: #fff !important;
}

.navbar .nav-item .nav-link {
  color: #444 !important;
  font-size: 14px;
  font-weight: 500;
  transition: .3s all;
  text-transform: uppercase;
  padding: 5px 15px;
  display: block;
}

.navbar .nav-item .nav-link:hover {
  color: #707070 !important;
}

.navbar .nav-item:last-child .nav-link {
  padding-right: 0;
}

.navbar .navbar-brand img.logo {
  width: 48px;
  height: 48px;
  margin-right: 4px;
}

.anchor {
    display: block;
    position: relative;
    top: -41px;
    visibility: hidden;
}

#hero-area {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 230px 0;
  color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

#hero-area:before {
  content: '';
  z-index: 9;
  background: rgba(255, 255, 255, 0.78);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#hero-area .block {
  position: relative;
  z-index: 9;
}

#hero-area h1 {
  font-size: 40px;
  line-height: 50px;
  color: #383838;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#hero-area h2 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 38px;
  line-height: 27px;
  text-transform: uppercase;
  color: #5D5D5D;
  font-family: 'Roboto', sans-serif;
  margin-top: 25px;
}

#about {
  padding: 140px 0 80px 0;
}

#about h3 {
  font-size: 36px;
  font-weight: 200;
  line-height: 60px;
}

#about h3 strong {
  font-weight: 400;
}

#about h5 {
  font-size: 25px;
  font-weight: 200;
}

/* Begin rationale */

#nejm-pullquote {
  margin-top: 30px;
  font-size: 24px;
  line-height: 1.4;
}

/* End rationale */

section {
  padding: 80px 0;
}

section h5 {
  padding-top: 20px;
}

.works {
  padding: 80px 0;
  background: #FCFCFC;
}

.works .block {
  position: relative;
  z-index: 99;
}

.works .block h4 {
  padding: 20px 15px;
  margin-top: 0;
  color: #5D5D5D;
}

.darker {
    background-color: #EDEFF7;
}

#team {
  margin: 50px 0;
}

#footer {
  background: #fff;
  padding: 60px 0 20px 0;
  color: #555;
  border-top: 1px solid #edeff7;
}

#footer p {
  font-size: 80%;
}

#footer .copyright {
  font-size: 13px;
  margin-bottom: 0;
}

#footer .copyright a {
  color: #707070;
}

#copyright a:hover {
  color: #e4e4e4 !important;
  text-decoration: none;
}

#copyright a {
  text-decoration: none;
}

/*# sourceMappingURL=maps/style.css.map */

.status-bar {
  font-weight: 300px;
  color: #666;
}

.status-bar #protocols-count {
  float: right;
}

.filter-group-label {
  font-weight: 500;
}

#toggle-filter {
  cursor: pointer;
}

section#protocols-section {
  margin-top: 50px;
}

section#protocol {
  margin-top: 10px;
}

#protocol .row {
  margin: 20px 0;
}

#protocol-filter {
  border: 1px solid #edeff7;
  border-radius: 3px;
  padding: 12px 20px;
  margin: 12px 0;
}

.filter-group {
  padding: 10px 0;
}

.filter-group .label {
  font-weight: bold;
}

ul#protocols {
  list-style: none;
  padding-left: 0px;
}

li.protocol-row {
  background: #f1f4f7;
  margin: 10px 0;
  padding: 0;
  width: 100%;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-style: solid;
  border-radius: .25rem;
  display: inline-block;
  font-weight: 300;
}

li.protocol-row:hover {
  background: #eee;
}

li.protocol-row a {
  display: block;
  padding: 12px;
  color: black;
}

li.protocol-row .field {
  margin: 5px 0;
  vertical-align: center;
}

li.protocol-row .field-icon {
  color: #222;
  font-size: 1.2rem;
  margin-right: 10px;
  width: 18px;
  text-align: center;
  display: inline-block;
}

li.protocol-row ul {
  display: inline;
}

li.protocol-row .status .field-text {
  font-weight: 500;
  text-transform: lowercase;
}

li.protocol-row .field-text .supplemental {
  color: #777;
  font-size: 0.8em;
  font-weight: 300;
}

li.protocol-row.status-not-enrolling {
  border-left-color: #60bf8f;
}

li.protocol-row.status-not-enrolling div.status-not-enrolling {
  /* font-size: 13px; */
  color: #60bf8f;
  /* text-align: right; */
  /* align-self: flex-end; */
  /* display: all; */
}

li.protocol-row.status-not-enrolling .status-in-progress,
li.protocol-row.status-not-enrolling .status-completed {
  display: none;
}

li.protocol-row.status-in-progress {
  border-left-color: #7d84b2;
}

li.protocol-row.status-in-progress .status-in-progress {
  /* font-size: 13px; */
  color: #7d84b2;
  /* text-align: right; */
  /* align-self: flex-end; */
  /* display: all; */
}

li.protocol-row.status-in-progress .status-not-enrolling,
li.protocol-row.status-in-progress .status-completed {
  display: none;
}

li.protocol-row.status-completed {
  border-left-color: #5398ad;
}

li.protocol-row.status-completed .status-completed {
  /* font-size: 13px; */
  color: #5398ad;
  /* text-align: right; */
  /* align-self: flex-end; */
  /* display: all; */
}

li.protocol-row.status-completed .status-in-progress,
li.protocol-row.status-completed .status-not-enrolling {
  display: none;
}

li.protocol-row .study-title {
  font-size: 18px;
  color: #222;
  font-weight: 350;
}

li.protocol-row a.study-title:hover {
  color: #002f86;
}

li.protocol-row .nct-id {
  font-size: 13px;
  text-align: right;
}

li.protocol-row .footer {
/*  border-top: 1px solid #eee;
  clear: both;
  margin: auto;
  padding: 10px*/
}

li.protocol-row .header {
  /* border-bottom: 1px solid #eee; */
}

li.protocol-row .outcome-tags {
  color: #959595;
  font-size: 12px;
  padding: auto;
  margin: auto;
}

li.protocol-row #standard-outcomes ul {
  list-style: none;
  margin: 2px;
  padding-left: 0;
}

li.protocol-row .outcome-tags ul li {
  color: #383838;
  border: 1px solid #dadbe4;
  padding: 2px 5px;
  background-color: #edeff8;
  font-size: 12px;
  display: inline-block;
  margin: 2px;
  border-radius: .25rem;
}

li.protocol-row .date {
  margin: auto;
  color: #959595;
  font-size: 13px;
}

li.protocol-row .expandable-text {
  text-decoration: underline;
}

/* Single Protocol Page styles */

span#outcomes ul li, #collaborating-trials ul li {
  list-style-position: inside;
  list-style-type: disc;
}

/* Bootstrap helper colors */

.text-muted  {
  color: #959595;
}

.text-primary {
  color: #006187;
}

.bg-primary {
  background-color: #006187;
}

.text-success {
  color: #008714;
}

.bg-success {
  background-color: #71AA68;
}

.text-info { /* bluegreen */
  color: #008779;
}

.bg-info {
  background-color: #68AAA9;
}

.text-warning { /* yellow */
  color: #838700;
}

.bg-warning {
  background-color: #a3aa68;
}

.text-danger { /* red */
  color: #87000D;
}

.bg-danger {
  color: #AB6869;
}
