{{ "<!-- About Section Start -->" | safeHTML }}
<section id="about" class="darker">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
          <h3 id="about-intro">
            We can find effective treatments for COVID-19 much
            faster by <strong>sharing protocols</strong> for
            randomized clinical trials. This platform is a home for
            RCT protocols that are available for
            <strong>collaboration</strong>.
          </h3>

          <h5>
            <a href="mailto:contact@covidcp.org">
              <i class="fa fa-envelope"></i>
               contact@covidcp.org
            </a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- About Section End -->" | safeHTML }}
