{{ "<!-- Footer Section Start -->" | safeHTML }}
<footer id="footer">

    <div class="container">
        <div class="row content-justify-between">
            <div class="col-12 text-center text-lg-left">
                <p>Copyright 2020 COVID-19 Collaboration Platform.
                    <a href="mailto:contact@covidcp.org" class='priority'>Contact us</a>
                </p>
            </div>
        </div>
    </div>

</footer>
{{ "<!-- footer section end -->" | safeHTML }}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>

<script src="//cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha256-z6FznuNG1jo9PP3/jBjL6P3tvLMtSwiVAowZPOgo56U=" crossorigin="anonymous"></script>

<script src="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{{ $script := resources.Get "js/script.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $script.RelPermalink }}"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalyticsID }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ .Site.Params.googleAnalyticsID }}');
</script>
