<section class="top-bar animated-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
    		<nav  id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
					<a class="navbar-brand sitename" href="{{ .Site.BaseURL }}">
						<img class="logo" alt="logo" src="/images/logo-icononly.png" aria-hidden="true">
						COVID-19 Collaboration Platform
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
						aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navigation">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link" href="/#about">{{ .Site.Params.home }}</a>
							</li>
							{{ range .Site.Menus.main }}
							<li class="nav-item">
								<a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
							</li>
							{{ end }}
					</div>
				</nav>
			</div>
		</div>
	</div>
</section>
