{{ "<!-- About Section Start -->" | safeHTML }}
<a id="howitworks" class="anchor" ></a>
<section class="darker">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
          <h3>How It Works</h3>
          <br>

          <h5>Submitting a Protocol</h5>
          <p>
          Protocols can be in draft form, enrolling, or completed.  To ensure
          that the authors receive credit, anyone using a protocol will be
          required to include a citation in any resulting research products.
          Submissions will be vetted for legitimate scientific value and
          well-defined interventions and outcomes. Submit a protocol
          <a class="priority" href="submit-protocol">here</a>.
          </p>

          <h5>Using a Protocol</h5>
          <p>
          To request to collaborate on a protocol, click
          <a class="priority"
            href="/request-collaboration/"
            target="_blank">
            here</a>.
          In doing so you agree to appropriately
          cite the authors of the original protocol in any resulting research
          products. Requests will be vetted for legitimate scientific value.
          </p>

          <h5>Collaborating on a Protocol</h5>
          <p>
          We <strong> strongly encourage collaboration</strong>. If a protocol
          is not yet enrolling subjects at the time of submission, we encourage
          the submitting study team to accept input from other interested
          research groups in order to create a collaborative multi-site
          protocol. The
          <a href="https://ncats.nih.gov/ctsa/projects/network"
             target="_blank">
            Trial Innovation Network
          </a>
          and
          <a href="https://smartirb.org/" target="_blank">
            SMART IRB
          </a>
          will
          prioritize and expedite requests to initiate multi-site studies that come
          to them through this platform. If a protocol is currently enrolling, it
          may be possible for interested research groups to join the existing study
          as a second or additional site under the submitting PI and IRB of record.
          If that is not possible we encourage interested research groups to match
          eligibility criteria, intervention definitions, and a subset of the six
          core outcomes (presumed COVID-19 diagnosis, hospitalization, ICU
          admission, supplemental oxygen use, mechanical ventilation, death) as
          closely as possible.  In all cases, we encourage all researchers to make
          their data available for aggregated analyses and to make every attempt to
          include or reference an analysis that combines evidence from all
          collaborating studies in any resulting reports.
          </p>

          <h5>Citing a Protocol</h5>
          <p>
          Cite protocols as [Authors] (2020). Protocol for
          [Study Name]. Retrieved from <a href="{{ .Site.BaseURL }}">covidcp.org</a>.
          </p>

          <h5>Aggregated Data Analysis</h5>
          <p>
            Statisticians from top (bio)statistics departments will volunteer
            time to run or advise on aggregated analyses, including working
            with study-specific Data Monitoring Committees to ensure that any
            interim analyses are grounded in best statistical practice,
            ethical, and maximally informative.  Resources to anonymize and
            house interim and final data provided free of charge by
            <a href="https://vivli.org/how-to-share-your-research-on-the-vivli-covid-19-portal/"
               target="_blank">
              Vivli</a>.
          </p>
          <br>

          <p> For help,
          <a class="priority" href="mailto:contact@covidcp.org" target="_blank">
            email us</a>.
        </div>
      </div>
    </div>
  </div>
</section>

{{ "<!-- About Section End -->" | safeHTML }}
