{{ "<!-- About Section Start -->" | safeHTML }}
<a id="legal" class="anchor" ></a>
<section class="darker">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
              <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                  <h3>Disclaimer</h3>
                  <br>
                   <p>None of the individuals or organizations affiliated with or contributing material to this Site, nor any of their units, programs, employees, agents, or individual trustees, shall be liable for any improper or incorrect use of information obtained through the use of this Site.
                  </p>
              </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- About Section End -->" | safeHTML }}
