{{ "<!-- About Section Start -->" | safeHTML }}

<a id="partners" class="anchor" ></a>
<section>
  <div class="container">

    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
    <div class="row">
      <div class="col-sm-12">
        <h3>Partners</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
          <h5>Partnering Institutions</h5>
          <ul>
             <li>
              <a class="subtle" href="https://drexel.edu/dornsife/">
                Drexel University Dornsife School of Public Health
              </a>
            </li>
            <li>
              <a class="subtle" href="https://www.ctsi.duke.edu/">
              Duke Clinical and Translational Science Institute
              </a>
            </li>
            <li>
              <a class="subtle" href="https://www.geisinger.org/">
                Geisinger Health System
              </a>
            </li>
            <li>
              <a class="subtle" href="https://datascience.harvard.edu/">
                Harvard Data Science Institute
              </a>
            </li>
             <li>
              <a class="subtle" href="https://careers.harvardpilgrim.org/the-institute/">
                Harvard Pilgrim Health Care Institute
              </a>
            </li>
             <li>
              <a class="subtle" href="https://www.infactglobal.org/">
              International Forum for Acute Care Trialists (INFACT)
              </a>
            </li>
            <li>
              <a class="subtle" href="https://ictr.johnshopkins.edu/">
                Johns Hopkins Institute for Clinical and Translational Research 
              </a>
            </li>
            <li>
              <a class="subtle" href="https://www.mcgill.ca/epi-biostat-occh/">
                McGill Department of Epidemiology, Biostatistics and Occupational Health
              </a>
            </li>
            <li>
              <a class="subtle" href="https://michr.umich.edu/">
                Michigan Institute for Clinical Health Research
              </a>
            </li>
            <li>
              <a class="subtle" href="https://mrctcenter.org/">
                MRCT Center of Brigham and Women’s Hospital and Harvard
              </a>
            </li>
            <li>
              <a class="subtle" href="https://datascience.ch/">
                Swiss Data Science Center
              </a>
            </li>  
            <li>
              <a class="subtle" href="https://www.sctweb.org/">
              Society for Clinical Trials
            </li>
             <li>
              <a class="subtle" href="https://tracs.unc.edu/">
                UNC Translational and Clinical Sciences Institute
              </a>
            </li>
             <li>
              <a class="subtle" href="https://www.utah.edu/">
                University of Utah
              </a>
            </li>
            <li>
              <a class="subtle" href="https://vivli.org/">
                Vivli Center for Global Clinical Research Data
              </a>
            </li>
          </ul>

          <h5>Executive Committee</h5>
          <ul>
            <li>
              <a class="subtle" href="https://mrctcenter.org/about-mrct/people/barbara-e-bierer-md/">
                Barbara Bierer, Harvard Medical School
              </a>
            </li>
            <li>
              <a class="subtle" href="https://www.eogburn.com/">
                Betsy Ogburn, Johns Hopkins University
              </a>
            </li>
            <li>
              <a class="subtle" href="http://www.biostat.jhsph.edu/~dscharf/about.html">
                Dan Scharfstein, Johns Hopkins University
              </a>
            </li>
          </ul>

           <h5>With help from </h5>
          <ul>
            <li>
               <h6> Web development </h6>
            </li>
            <li>
                Noam Finkelstein
            </li>
             <li>
                Adi Gherman
            </li>
            <li>
                Courtney Gibbons
            </li>
            <li>
                Jacob Hodes
            </li>
            <li>
                Ryan Turner
            </li>
             <li>
                Michael Weiss
            </li>
            <br>
            <li>
               <h6> Operations </h6>
            </li>
            <li>
                Joseph Lee
            </li>
          </ul>

      </div>

      <div class="col-sm-6">

          <h5>Advisory Board</h5>
          <ul>
            <li>
              <a class="subtle" href="https://www.mcgill.ca/epi-biostat-occh/nicole-basta">
                Nicole Basta, McGill
              </a>
            </li>
            <li>
              <a class="subtle" href="https://ph.ucla.edu/faculty/brookmeyer">
                Ron Brookmeyer, UCLA
              </a>
            </li>
            <li>
              <a class="subtle" href="https://www.uofmhealth.org/profile/2741/james-brian-byrd-md">
                J. Brian Byrd, University of Michigan
              </a>
            </li>
            <li>
              <a class="subtle" href="https://scholar.harvard.edu/cchoirat/home">
                Christine Choirat, Swiss Data Science Center
              </a>
            </li>
             <li>
              <a class="subtle" href="https://www.jhsph.edu/faculty/directory/profile/800/elizabeth-colantuoni">
                Elizabeth Colantuoni, Johns Hopkins University
              </a>
            </li>
            <li>
              <a class="subtle" href="https://scholar.harvard.edu/mercecrosas/home">
                Merc&egrave; Crosas, Harvard University
              </a>
            </li>
            <li>
              <a class="subtle" href="https://healthcare.utah.edu/fad/mddetail.php?physicianID=u0035216&name=j-michael-dean">
                Mike Dean, University of Utah
              </a>
            </li>
            <li>
              <a class="subtle" href="http://biostat.ufl.edu/about/people/faculty/dean-natalie-e/">
                Natalie Dean, University of Florida
              </a>
            </li>
             <li>
              <a class="subtle" href="https://biostat.wiscweb.wisc.edu/staff/demets-david-l/">
                David DeMets, University of Wisconsin
              </a>
            </li>
            <li>
              <a class="subtle" href="https://www.hsph.harvard.edu/francesca-dominici/">
                Francesca Dominici, Harvard University
              </a>
            </li>
            <li>
              <a class="subtle" href="https://www.hsph.harvard.edu/victor-de-gruttola/">
                Victor De Gruttola, Harvard University
              </a>
            </li>
            <li>
              <a class="subtle" href="https://www.dbei.med.upenn.edu/bio/susan-s-ellenberg-phd">
                Susan Ellenberg, University of Pennsylvania
              </a>
            </li>
            <li>
              <a class="subtle" href="https://www.tuftsctsi.org/people/kenneth-a-getz/">
                Kenneth Getz, Tufts University
              </a>
            </li>
             <li>
              <a class="subtle" href="https://profiles.stanford.edu/steven-goodman">
                Steve Goodman, Stanford University
              </a>
            </li>
             <li>
              <a class="subtle" href="https://www.fredhutch.org/en/faculty-lab-directory/halloran-elizabeth.html">
                Betz Halloran, University of Washington
              </a>
            </li>
             <li>
              <a class="subtle" href="https://www.hopkinsmedicine.org/profiles/results/directory/profile/0001943/daniel-hanley">
                Dan Hanley, Johns Hopkins University
              </a>
            </li>
            <li>
              <a class="subtle" href="http://biostat.mc.vanderbilt.edu/wiki/Main/FrankHarrell">
                Frank Harrell, Vanderbilt University
              </a>
            </li>
            <li>
              <a class="subtle" href="https://medschool.duke.edu/about-us/our-faculty/adrian-hernandez-md">
                Adrian Hernandez, Duke University
              </a>
            </li>
            <li>
              <a class="subtle" href="http://www.jacobhodes.com/bio">
                Jacob Hodes, Relevant Healthcare
              </a>
            </li>
            <li>
              <a class="subtle" href="http://jtleek.com/">
                Jeff Leek, Johns Hopkins University
               </a>
            </li>
            <li>
              <a class="subtle" href="http://stmichaelshospitalresearch.ca/researchers/john-marshall/">
                John Marshall, University of Toronto
               </a>
            </li>
            <li>
              <a class="subtle" href="https://drexel.edu/dornsife/academics/faculty/leslie%20mcclure/">
                Leslie McClure, Drexel University
              </a>
            </li>
            <li>
              <a class="subtle" href="https://hms.harvard.edu/faculty-staff/lee-m-nadler">
                Lee Nadler, Harvard University
              </a>
            </li>
            <li>
                Megan Singleton, Johns Hopkins University
            </li>
            <li>
              <a class="subtle" href="https://stat.duke.edu/people/alexander-volfovsky">
                Alex Volfovsky, Duke University
              </a>
            </li>
             <li>
              <a class="subtle" href="https://www.populationmedicine.org/rwang">
                Rui Wang, Harvard Pilgrim Health Care Institute
              </a>
            </li>
             <li>
              <a class="subtle" href="https://medicine.umich.edu/dept/cpfrc/david-williams-phd">
                David Williams, University of Michigan
              </a>
            </li>
            <li>
              <a class="subtle" href="https://www.jhsph.edu/faculty/directory/profile/784/scott-l-zeger">
                Scott Zeger, Johns Hopkins University
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- About Section End -->" | safeHTML }}
