{{ "<!-- Protocol Template Start -->" | safeHTML }}

<section class="templates" style="display: none">
    <!-- Row Template -->
    <li id="protocol-row-template" class="protocol-row" style="display: none">

        <a data-id="fulltext-link" href="https://wrongpickle.com" target="_blank">

            <!-- Title -->
            <div class="protocol-row-head">
        <span data-id="title" class="study-title">
          Title
        </span>
            </div>

            <!-- PI Name & Institution -->
            <div class="field">
        <span class="field-icon">
          <i class="fas fa-university"></i>
        </span>
                <span class="field-content">
          <span data-id="pi-name">PI Name</span>
          <span> | </span>
          <span data-id="pi-institution">PI Institution</span>
        </span>
            </div>

            <!-- Intervention Arms -->
            <div class="field">
        <span class="field-icon">
          <i class="fal fa-clipboard-prescription"></i>
        </span>
                <span class="field-content ellipsis" data-id="intervention-arms">
        </span>
            </div>

            <!-- Standard Outcomes -->
            <div class="field">
        <span class="field-icon">
          <!-- <i class="fal fa-clipboard-list-check"></i> -->
          <i class="fal fa-notes-medical"></i>
        </span>
                <span class="field-content outcome-tags">
          <ul data-id="standard-outcomes">
          </ul>
        </span>
            </div>


            <!-- Status -->

            <div class="field status status-not-enrolling">
        <span class="field-icon">
          <i class="fa fa-unlock-alt"></i>
        </span>
                <!-- <span class="field-icon fa-stack"> -->
                <!--   <i class="fal fa-signal-alt-3 fa-stack-1x"></i> -->
                <!--   <i class="fas fa-signal-alt-1 fa-stack-1x"></i> -->
                <!-- </span> -->
                <span class="field-text">
          NOT YET ENROLLING
          <span class="supplemental" data-id="created-at"></span>
        </span>
            </div>

            <div class="field status status-in-progress">
        <span class="field-icon">
          <i class="fa fa-unlock-alt"></i>
        </span>
                <!-- <span class="field-icon fa-stack"> -->
                <!--   <i class="fal fa-signal-alt-3 fa-stack-1x"></i> -->
                <!--   <i class="fas fa-signal-alt-2 fa-stack-1x"></i> -->
                <!-- </span> -->
                <span class="field-text">
          IN PROGRESS
          <span class="supplemental" data-id="created-at"></span>
        </span>
            </div>

            <div class="field status status-completed">
        <span class="field-icon">
          <i class="fa fa-lock-alt"></i>
        </span>
                <!-- <span class="field-icon fa-stack"> -->
                <!--   <i class="fal fa-signal-alt-3 fa-stack-1x"></i> -->
                <!--   <i class="fas fa-signal-alt-3 fa-stack-1x"></i> -->
                <!-- </span> -->
                <span class="field-text">
          COMPLETED
          <span class="supplemental" data-id="created-at"></span>
        </span>
            </div>

            <div data-id="collaborating-trials">
            </div>
        </a>
    </li>
</section>

{{ "<!-- Protocol Template End -->" | safeHTML }}
