{{ "<!-- About Section Start -->" | safeHTML }}
<a id="rationale" class="anchor" ></a>
<section >
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
          <h3>Rationale</h3>

          <blockquote class="blockquote">
            <p id="nejm-pullquote">
            “In the context of public health emergencies... study teams should
            be encouraged to collaborate on existing, ongoing protocols rather
            than starting new, independent trials.”
            </p>
            <footer class="blockquote-footer">
              Dean et. al, <em>The New England Journal of Medicine</em>, April 10, 2020.
              <a class="priority" href="https://www.nejm.org/doi/full/10.1056/NEJMsb1905390" target="_blank">Read the full text</a>.
            </footer>
          </blockquote>
          <br>
          <p>
          In the U.S. only a few COVID-19 randomized clinical trials (RCTs) have
            been centrally organized, e.g. by NIAID, PCORI and individual PIs.
            Over 400 such trials have been registered on
            <a href="https://www.clinicaltrials.gov" target="_blank">clinicaltrials.gov</a>
            with dozens being added each day. Many of them are designed to
            answer similar questions and combining data or aggregating evidence
            could dramatically increase their efficiency and precision, getting
            answers to doctors faster and more reliably. Many of the studies
            getting off the ground right now are being run outside of the
            research environment by hospitals in need of decision-making
            information for their doctors. Like these studies, <strong>our primary goal
            is to get high-quality evidence to doctors quickly.</strong>

          <p>
          Furthermore, local outbreaks may taper off before institutions are
          able to enroll their target sample size. Notably, this has happened in
          China, where many trials are effectively suspended with incomplete
          enrollment and inconclusive results. If the US response to COVID-19
          proves successful, hospitals will be lucky to find themselves in a
          similar position with a sudden drop off in COVID cases that could
          affect enrollment. If protocols are public and open for collaboration,
          an RCT can be picked up in different regions as the outbreak moves
          across the country. Unfortunately, no platform currently exists for
          such collaboration on RCTs.
          </p>

          <p>
          CovidCP fills this gap by publicizing protocols whose PIs are open to
          various levels of collaboration: joining forces with other research
          teams to create a core protocol; admitting new sites under the
          existing PI and IRB; sharing anonymized interim and/or final data
          through our partner <a class="important-link" href="https://vivli.org" target="_blank">Vivli</a>
          with other sites that choose to independently operate a trial under a
          similar protocol.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- About Section End -->" | safeHTML }}
